// COLORS: Main color variables

$color-white: #fff;
$color-black: #1B1B1B;

$color-gray: #F8F9FA;
$color-gray-2: #F1F3F5;
$color-gray-3: #E9ECEF;
$color-gray-4: #CED4DA;
$color-gray-5: #ADB5BD;
$color-gray-6: #495056;
$color-gray-7: #DEE2E6;
$color-gray-8: #868E95;

$color-blue: #202E3C;
$color-blue-2: #3C4858;

$color-green: #fbc611;
$color-green-2: #28CD6A;





//-- colors:end --//
